@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  */

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(220, 15%, 55%);
    gap: 100px;
     
}
.card{
    background:hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    border-radius: 18px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    
}
.card img{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 8px;
}
.card .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 19px;
}
.card h1{
    font-size: 16px;
    color: hsl(218, 44%, 22%);
}
.card p {
    font-size: 16px;
    color:hsl(220, 15%, 55%) ;
}
footer{
    font-size: 13px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
footer a{
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}